{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Créer vôtre compte
{% endblock %}

{% block body %}
    <h1 class="mt-5">Créer vôtre compte</h1>

    {{ form_start(FormUser) }}
    {{ form_row(FormUser.username) }}
    {{ form_row(FormUser.email) }}
    {{ form_row(FormUser.password) }}
    <button class="btn btn-primary" type="submit">Valider</button>
    {{ form_end(FormUser) }}

{% endblock %}