{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Ajouté un Film
{% endblock %}

{% block body %}
    <h1 class="mt-5">Ajouter un film</h1>

    {{ form_start(form) }}
    {{ form_row(form.title,{'attr':{'placeholder':"Titre du film"}}) }}
    {{ form_widget(form) }}


    <button class="btn btn-primary" type="submit">Valider</button>
    {{ form_end(form) }}

{% endblock %}
