{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Modifier un film
{% endblock %}

{% block body %}
    <h1 class="mt-5">Modifier un Film</h1>

    {{ form_start(movieForm) }}
    {{ form_widget(movieForm) }}
    <button class="btn btn-primary" type="button" onclick="createNewActorMovieForm()">Ajouter un acteur</button>
    <a href="{{ path('movie_view', {'id': movie.id}) }}" class="btn btn-warning">Annuler</a>
    <button class="btn btn-success" type="submit">Valider</button>
    {{ form_end(movieForm) }}

{% endblock %}

{% block javascripts %}
    <script>
        const movieActorFormList = document.querySelector("#movie_movieActors");
        const prototype = movieActorFormList.dataset.prototype;
        let currentIndex = movieActorFormList.children.length;

        function createNewActorMovieForm() {
            const newElement = document.createElement('div');
            newElement.innerHTML = prototype.replace(/__name__/g, currentIndex);
            currentIndex ++;
            movieActorFormList.appendChild(newElement);
        }

    </script>

{% endblock %}