{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Modifier une catégorie
{% endblock %}

{% block body %}
    <h1 class="mt-5">Modifier une catégorie</h1>

    {{ form_start(categoryForm) }}
    {{ form_widget(categoryForm) }}
    <button class="btn btn-primary" type="submit">Valider</button>
    <a href="{{ path('category_view', {'id': category.id}) }}" class="btn btn-link">Annuler</a>
    {{ form_end(categoryForm) }}

{% endblock %}