{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ category.label }}
{% endblock %}

{% block body %}
<h1 class="mt-5"> Catégories {{ category.label }}</h1>
    <a class="btn btn-warning" href="{{ path('category_update', {'id': category.id}) }}">Modifier la catégorie</a>
    <a class="btn btn-danger" href="{{ path('category_delete', {'id': category.id}) }}">Supprimer</a>
<h3 class="mt-5">Films</h3>
<div class="list-group">
    {% for movie in category.movies %}
    <a href="{{ path('movie_view', {'id': movie.id}) }}" class="list-group-item list-group-item-action">
        {{ movie.title }} ({{ movie.releaseDate | date('Y') }})
    </a>
    {% endfor %}
</div>
{% endblock %}